export STM_SEND_GRID_API="Api Key"
export STM_SECRET_KEY="*ad^@2wc4zwl4^seovrs-kv#)ok(q52_e#l2(&dsil"
export STM_EMAIL_HOST_PASSWORD="password"
export STM_DB_NAME="db_name"
export STM_DB_HOST="db_host"
export STM_DB_USER="db_user"
export STM_DB_PORT="db_port"
export STM_DB_PASS="db_password"