{% load static %}

<!-- CoreUI and necessary plugins-->
<script src="{% static 'node_modules/jquery/dist/jquery.min.js'%}"></script>
<script src="{% static 'node_modules/popper.js/dist/umd/popper.min.js'%}"></script>
<script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js'%}"></script>
<script src="{% static 'node_modules/pace-progress/pace.min.js'%}"></script>
<script src="{% static 'node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js'%}"></script>
<script src="{% static 'node_modules/@coreui/coreui/dist/js/coreui.min.js'%}"></script>
<!-- Plugins and scripts required by this view-->
<script src="{% static 'node_modules/chart.js/dist/Chart.min.js'%}"></script>
<script src="{% static 'node_modules/@coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>
