{% load static %}

<!-- CoreUI and necessary plugins-->
<script src="{% static 'vendors/jquery/js/jquery.min.js'%}"></script>
<script src="{% static 'vendors/popper.js/js/popper.min.js'%}"></script>
<script src="{% static 'vendors/bootstrap/js/bootstrap.min.js'%}"></script>
<script src="{% static 'vendors/pace-progress/js/pace.min.js'%}"></script>
<script src="{% static 'vendors/perfect-scrollbar/js/perfect-scrollbar.min.js'%}"></script>
<script src="{% static 'vendors/@coreui/coreui/js/coreui.min.js'%}"></script>
<!-- Plugins and scripts required by this view-->
<script src="{% static 'vendors/chart.js/js/Chart.min.js'%}"></script>
<script src="{% static 'vendors/@coreui/coreui-plugin-chartjs-custom-tooltips/js/custom-tooltips.min.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>
